*{
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
}
body{
    background-color: #E5E5E5;
}
.header{
    background-color:#562EFF;
}
.navbar{
    max-width: 88vw;
    height: 100%;
    margin: 0 auto;
}
.navbar .container div{
    display: flex;
    color: white;
    gap: 1vw;
    align-items: center;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 0.5vw;
}
nav img{
    height: 4.5vw;
}


.navbar ul{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4,1fr);
}
.navbar li{ 
    list-style: none;
    margin-right: 2.2vw;
}
.navbar a{
    font-size: 1.5;
    text-decoration: none;
    color: aliceblue;
}
/* all image sizes */
.top-players img{
    height:4vw ;
    width:4vw ;
}
.top-blogs img{
    height:9vw;
}
.courses img{
    height: 13vw;
    width: 100%;
}
/* main section */
main{
    background-color:#E5E5E5;
}
.primary-heading{
    color: #562EFF;
    font-weight: 500;
    font-size:2.7vw;
}
.name{
    color:#562EFF;
    font-weight: 400;
    font-size:1vw;
    margin-top: 3vw;
}
.name-a{
    margin-top: 3vw;
    
}
/* top-player-top-blog */
.top-player-top-blog{
    /* max-width:88vw; */
    max-width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2.9vw;
    background-color: white;
    margin-top: 4vw;
    gap: 4vw;
    border-radius:10px ;
    margin-bottom: 4vw;
}
/* top-players */
.top-players{
    display: grid;
    gap: 5vw;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    font-size: 1.5vw;
    font-weight: 500;
}
.player{
    display: flex;
    gap: 3vw;
    align-items: center;
}
hr{
    border: 0.5px solid #D1D1D1;
}
/* top-blogs */
.top-blogs{
    display: grid;
    gap: 4vw;
    grid-template-columns: repeat(2,1fr);
    font-size: 1vw;
    font-weight: 500;
}

.blog{
    display: flex;
    gap: 2.4vw;
}

/* courses-section */
.courses-heading{
 margin-left: 3vw;
 margin-bottom: 3vw;
}
.courses{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    max-width: 74.5vw;
    margin: 0 auto;
    gap: 3vw;
}
.course{
    background-color: white;
    padding: 2vw;
    border-radius: 10px;
}
.course .description{
    font-size: 1.5vw;
    font-weight: 500;
}
.rating{
    margin-top: 18px;
    display: flex;
    gap: 1.5vw;
    align-items: center;
    justify-content: space-between;
    font-size: 1vw;

}
.star{
    color:  #FFC014;
}
.time{
    
    background-color: #FFE4E8;
    color: #FF4A60;
    padding: 6px 1.5vw;
    border-radius: 1.8vw;
}
@media screen and (max-width:576px) {
    nav img{
        height: 27px;
    }
    nav ul img{
        position: relative;
        top: 2px;
    }
    .header h1{
        font-size: 26x;
    }
    .navbar li{
        font-size: 14px;
    }
    .navbar .container{
        padding-top: 0px;
    }
    .primary-heading{
        font-size: 20px;
    }
    .top-player-top-blog {
        max-width: 90vw;
        margin-top: 3px;
    }
    .top-players{
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        justify-items: center
    }
    .top-players h3{
        font-size: 15px;
    }
    .top-players img{
        width: 30px;
        height: 30px;
    }
    .player{
        flex-direction: column;
    }
    
    
.top-blogs {
    padding: 15px;
    grid-template-columns: 1fr;
}
.blog{
    flex-direction: column;
    gap: 10px;
    font-size: 9px;
}
.blog .name{
    margin-top: 5px;
}
.top-blogs img{
    width: 120px;
    height: 70px;
} 
.name,.name-a{
    font-size: 10px;
}
.courses{
    max-width: 95vw;
    grid-template-columns: 1fr;
    margin-bottom: 20px;

}
.course{
    padding: 20px;
}
.course .description{
    font-size: 13px;
}
.courses img{
   
    width: 160px;
    height: 100px;
}
.rating{
    font-size: 10px;
}
}